body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-areas:
        "box1 box2"
        "box5 box3"
        "box5 box4"
        "box6 box6";
    grid-gap: 10px;
    width: 80%;
    max-width: 1200px;
}

.box {
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.logo-contact {
    grid-area: box1;
}

.service {
    grid-area: box2, box3, box4;
}

.media {
    grid-area: box5;
    overflow: hidden;
}

.media-content {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}
.media-content frame {
    padding: 10px; /* Adjust as needed */
    border: 2px solid #000; /* Adjust color as needed */
    box-sizing: border-box;
    margin: 5px; /* Adjust as needed */
}
.media-content img {
    width: 100%;
}

.arrows {
    grid-area: box6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
}
